{% extends '_base.html' %}
{% block title %}关于我{% endblock %}
{% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h3>关于我</h3>
                    </div>
                    <div>
                        <p>
                            时光如水，岁月如歌。与大部分 80、90 后一样，文曲星已经成为了我们高中时代最美好的记忆。
                            <br />
                            课堂上、放学后、多少个不眠之夜，我们都调试着 GVBASIC 程序，编译着 LAVA 代码。
                            <br />
                            而如今，恐怕已经没有多少人在停留在这里了。
                        </p>
                        <p>
                            在下在星星世界里，是一名无名小卒。但是怀着一颗赤诚的心，建立了本站，供各位朋友浏览、下载。
                            <br />
                            但作品的庞大，也让我有心无力。
                            <br />
                            本站尊重任何人的版权，如果您觉得个别图片、程序或者源码侵犯了您的版权，请及时联系我移除以保护您的权益。（我的邮箱：whypro#live.cn）
                        </p>
                        <p>
                            同时如果您支持本站，请慷慨赞助。您的支持是我最大的动力！（我的支付宝账户：whypro#live.cn）
                        </p>
                        <p>
                            -- whypro
                            <br />
                            2015-10-23
                        </p>
                    </div>
                </div>

            </div>
{% endblock %}
