{% extends '_base.html' %}
{% block title %}{{ device.brand }} {{ device.model }}{% endblock %}
{% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h3>{{ device.brand }} {{ device.model }}</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="post" action="{{ url_for('device.edit_device', oid=device._id) }}">

                        <div class="form-group">
                            <label for="brand-input" class="col-sm-2 control-label">品牌</label>
                            <div class="col-sm-10">
                                <input type="text" name="brand" class="form-control" id="brand-input" value="{{ device.brand }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="model-input" class="col-sm-2 control-label">型号</label>
                            <div class="col-sm-10">
                                <input type="text" name="model" class="form-control" id="model-input" value="{{ device.model }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="alias-input" class="col-sm-2 control-label">别名</label>
                            <div class="col-sm-10">
                                <input type="text" name="alias" class="form-control" id="alias-input" value="{{ device.alias }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dimension-input" class="col-sm-2 control-label">三维</label>
                            <div class="col-sm-10">
                                <input type="text" name="dimension" class="form-control" id="dimension-1-input" value="{{ device.dimension[0] if device.dimension }}">
                                <br>
                                <input type="text" name="dimension" class="form-control" id="dimension-2-input" value="{{ device.dimension[1] if device.dimension }}">
                                <br>
                                <input type="text" name="dimension" class="form-control" id="dimension-3-input" value="{{ device.dimension[2] if device.dimension }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="net-weight-input" class="col-sm-2 control-label">重量（不含电池）</label>
                            <div class="col-sm-10">
                                <input type="text" name="net-weight" class="form-control" id="net-weight-input" value="{{ device.weight.net_weight if device.weight }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="with-battery-weight-input" class="col-sm-2 control-label">重量（含电池）</label>
                            <div class="col-sm-10">
                                <input type="text" name="with-battery-weight" class="form-control" id="with-battery-weight-input" value="{{ device.weight.with_battery_weight if device.weight }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="battery-input" class="col-sm-2 control-label">电池类型</label>
                            <div class="col-sm-10">
                                <input type="text" name="battery" class="form-control" id="battery-input" value="{{ device.battery }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="screen-x-input" class="col-sm-2 control-label">屏幕水平像素数</label>
                            <div class="col-sm-10">
                                <input type="text" name="screen" class="form-control" id="screen-x-input" value="{{ device.screen[0] if device.screen }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="screen-y-input" class="col-sm-2 control-label">屏幕水平像素数</label>
                            <div class="col-sm-10">
                                <input type="text" name="screen" class="form-control" id="screen-y-input" value="{{ device.screen[1] if device.screen }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">保存</button>&emsp;
                                <a class="btn btn-default" href="{{ url_for('device.show_devices') }}">取消</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
{% endblock %}