{% extends '_base.html' %}
{% block title %}作品管理{% endblock %}
{% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h3>所有作品</h3>
                    </div>

                    {% for tag in current_tags %}
                    {% set tags = current_tags[:] %}
                    {% set _ = tags.remove(tag) %}
                    {% if tags %}
                    {% set args = '?tags='+tags|join(',') %}
                    {% else %}
                    {% set args = '' %}
                    {% endif %}
                    <a class="label label-success" href="{{ url_for('masterpiece.show_masterpieces')+args }}">{{ tag }}</a>
                    {% endfor %}

                    {% for tag in all_tags %}
                    {% if tag not in current_tags %}
                    <a class="label label-default" href="{{ url_for('masterpiece.show_masterpieces')+'?tags='+(current_tags+[tag])|join(',') }}">{{ tag }}</a>
                    {% endif %}
                    {% endfor %}

                    <hr />
                </div>

                {% for masterpiece in masterpieces %}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="{{ url_for('masterpiece.show_masterpiece_detail', oid=masterpiece._id) }}">
                            <img alt="{{ masterpiece.title }}" src="{{ url_for('masterpiece.get_masterpiece_preview', oid=masterpiece._id) }}" class="img-responsive" style="height: 80px; display: block;"/>
                        </a>
                        <div class="caption">
                            <h4 class="text-center">{{ masterpiece.title|truncate(14, True) }}<small>&emsp;{{ masterpiece.version|d('') }}</small></h4>
                            <p{% if not masterpiece.author_oid %} class="bg-danger"{% endif %}>
                                <small>作者：{{ masterpiece.author.name|truncate(7, True) if 'author' in masterpiece and 'name' in masterpiece.author else '佚名' }}</small>&emsp;
                                {% set score = masterpiece.marking.score|int if 'marking' in masterpiece and 'score' in masterpiece.marking and masterpiece.marking.score else None %}
                                <small>评分：
                                    {%- if score == None %}N/A{% else %}
                                    {%- for i in range(score) %}★{% endfor -%}
                                    {%- for i in range(5-score) %}☆{% endfor -%}
                                    {% endif -%}
                                </small>
                                {#
                                <small><a href="{{ url_for('static', filename='masterpieces/'+masterpiece.title+'/'+masterpiece.files[0]) }}">{{ masterpiece.files[0] }}</a></small>&emsp;
                                #}
                                <br />
                                <small>格式：{{ masterpiece.type if 'type' in masterpiece else 'N/A' }}</small>&emsp;
                                {% if masterpiece.type == 'GVmaker' %}
                                <small>认证：{{ masterpiece.dynamic_cert if 'dynamic_cert' in masterpiece else 'N/A' }}</small>
                                {% endif %}
                                <br />
                                <small>兼容性：{{ masterpiece.compatibility[:2]|join(' ')+' ...' if 'compatibility' in masterpiece else 'N/A' }}</small>
                            </p>

                            <p>{{ masterpiece.summary|d('') }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

{% endblock %}
