{% extends '_base.html' %}
{% block title %}添加作品{% endblock %}
{% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h3>添加作品</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="post" action="{{ url_for('masterpiece.add_masterpiece') }}">

                        <div class="form-group">
                            <label for="title-input" class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" class="form-control" id="title-input" value="{{ masterpiece.title }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="subtitle-input" class="col-sm-2 control-label">副标题</label>
                            <div class="col-sm-10">
                                <input type="text" name="subtitle" class="form-control" id="subtitle-input" value="{{ masterpiece.subtitle }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="version-input" class="col-sm-2 control-label">版本号</label>
                            <div class="col-sm-10">
                                <input type="text" name="version" class="form-control" id="version-input" value="{{ masterpiece.version }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="date-input" class="col-sm-2 control-label">发布日期</label>
                            <div class="col-sm-10">
                                <input type="text" name="date" class="form-control" id="date-input" value="{{ masterpiece.date }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="author-id-select" class="col-sm-2 control-label">作者</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="author-oid" id="author-id-select">
                                    <option value="">请选择作者</option>
                                    {% for author in authors %}
                                    <option value="{{ author._id }}"{% if masterpiece.author_oid == author._id %} selected="selected"{% endif %}>{{ author.name|d('无') }} , {{ author.email|d('无') }}, {{ author.realname|d('无') }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="studio-id-select" class="col-sm-2 control-label">工作室</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="studio-oid" id="studio-id-select">
                                    <option value="">请选择工作室</option>
                                    {% for studio in studios %}
                                    <option value="{{ studio._id }}"{% if masterpiece.studio_oid == studio._id %} selected="selected"{% endif %}>{{ studio.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">作者</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    {% for k, v in masterpiece.author.items() %}
                                    {{ k }}: {{ v }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型</label>
                            <div class="col-sm-10">
                                {% for type_ in types %}
                                <label class="checkbox-inline">
                                    <input type="radio" name="type" id="type-{{ loop.index }}" value="{{ type_ }}"{% if type_ == masterpiece.type %} checked="checked"{% endif %}> {{ type_ }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">评分</label>
                            <div class="col-sm-10">
                                <label class="checkbox-inline">
                                    <input type="radio" name="score" id="score-5" value="5"{% if 'marking' in masterpiece and 'score' in masterpiece.marking and masterpiece.marking.score == 5 %} checked="checked"{% endif %}> 5
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="score" id="score-4" value="4"{% if 'marking' in masterpiece and 'score' in masterpiece.marking and masterpiece.marking.score == 4 %} checked="checked"{% endif %}> 4
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="score" id="score-3" value="3"{% if 'marking' in masterpiece and 'score' in masterpiece.marking and masterpiece.marking.score == 3 %} checked="checked"{% endif %}> 3
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="score" id="score-2" value="2"{% if 'marking' in masterpiece and 'score' in masterpiece.marking and masterpiece.marking.score == 2 %} checked="checked"{% endif %}> 2
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="score" id="score-1" value="1"{% if 'marking' in masterpiece and 'score' in masterpiece.marking and masterpiece.marking.score == 1 %} checked="checked"{% endif %}> 1
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="static-cert-input" class="col-sm-2 control-label">静态认证</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="static-cert" id="static-cert-input" value="{{ masterpiece.static_cert }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dynamic-cert-input" class="col-sm-2 control-label">动态认证</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="dynamic-cert" id="dynamic-cert-input" value="{{ masterpiece.dynamic_cert }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="device-ids-select" class="col-sm-2 control-label">兼容机型</label>
                            <div class="col-sm-10">
                                {% for device_oid in masterpiece.device_oids %}
                                <select class="form-control" name="device-oids" id="device-ids-select">
                                    <option value="">请选择机型</option>
                                    {% for device in devices %}
                                    <option value="{{ device._id }}"{% if device_oid == device._id %} selected="selected"{% endif %}>{{ device.brand|d('无') }} {{ device.model|d('无') }}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                {% endfor %}
                                <select class="form-control" name="device-oids" id="device-ids-select">
                                    <option value="">请选择机型</option>
                                    {% for device in devices.rewind() %}
                                    <option value="{{ device._id }}"{% if device_oid == device._id %} selected="selected"{% endif %}>{{ device.brand|d('无') }} {{ device.model|d('无') }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">兼容机型</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    {% for model in masterpiece.compatibility %}
                                    {{ model }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">标签</label>
                            <div class="col-sm-10">
                                {% for tag in tags %}
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="tags" id="tag-{{ loop.index }}" value="{{ tag }}"{% if tag in masterpiece.tags %} checked="checked"{% endif %}>{{ tag }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ref-input" class="col-sm-2 control-label">引用</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="ref" id="ref-input" value="{{ masterpiece.ref }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">保存</button>&emsp;
                                <a class="btn btn-default" href="{{ url_for('masterpiece.show_masterpiece_detail', oid=masterpiece._id) }}">取消</a>
                            </div>
                        </div>

                        {#
                        <div class="form-group">
                            <label for="tags-select" class="col-sm-2 control-label">标签</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="tags-select" multiple>
                                    <option value="">请选择标签</option>
                                    {% for tag in tags %}
                                    <option value="{{ tag }}">{{ tag }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        #}
                    </form>
                </div>
            </div>
{% endblock %}