{% extends '_base.html' %}
{% block title %}{{ masterpiece.title }}{% endblock %}
{% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h3>{{ masterpiece.title }}&emsp;<small>{{ masterpiece.subtitle }}</small></h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% if 'author' in masterpiece %}
                    <h4>作者信息</h4>
                    <div class="row">
                        {% set zh_key_map = dict(name='作者', realname='姓名', qq='QQ', email='电子邮箱', site='网站') %}
                        <ul>
                            {% for key, value in masterpiece.author.items() %}
                            {% if key in zh_key_map %}
                            <li>{{ zh_key_map[key] }}：{{ value }}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <h4>程序信息</h4>
                    <div class="row">
                        <ul>
                            <li>版本：{{ masterpiece.version|d('N/A') }}</li>
                            {% set score = masterpiece.marking.score|int if 'marking' in masterpiece and 'score' in masterpiece.marking and masterpiece.marking.score else None %}
                            <li>评分：
                            {%- if score == None %}N/A{% else %}
                            {%- for i in range(score) %}★{% endfor -%}
                            {%- for i in range(5-score) %}☆{% endfor -%}
                            {% endif -%}
                            </li>
                            <li>认证：{{ masterpiece.dynamic_cert|d('N/A') }}</li>
                            <li>兼容性：{{ masterpiece.compatibility|join(' ') if 'compatibility' in masterpiece else 'N/A' }}</li>
                            <li>标签：{{ masterpiece.tags|join(' ') if 'tags' in masterpiece and masterpiece.tags else 'N/A' }}</li>
                        </ul>
                    </div>

                    {% if 'summary' in masterpiece and masterpiece.summary %}
                    <h4>作品简介</h4>
                    <div class="row">
                        {{ masterpiece.summary|safe }}
                    </div>
                    {% endif %}

                    {% if 'screenshots' in masterpiece and masterpiece.screenshots %}
                    <h4>屏幕截图</h4>
                    <div class="row">
                        {% for screenshot in masterpiece.screenshots %}
                        <div class="thumbnail col-md-2 col-sm-4 col-xs-12">
                            <a href="{{ url_for('static', filename='masterpieces/'+masterpiece.type+'/'+masterpiece.title+'/'+screenshot) }}"><img src="{{ url_for('static', filename='masterpieces/'+masterpiece.type+'/'+masterpiece.title+'/'+screenshot) }}" alt="{{ masterpiece.title }}" class="img-responsive" /></a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if 'files' in masterpiece and masterpiece.files %}
                    <h4>文件下载</h4>
                    <div class="row">
                        <ul>
                            {% for file in masterpiece.files %}
                            <li><a href="{{ url_for('home.download', oid=masterpiece._id, filename=file) }}">{{ file }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                    <hr />
                    <div class="col-md-2">
                        <a class="btn btn-success" href="{{ url_for('home.edit_masterpiece', oid=masterpiece._id) }}">修改</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-warning" href="{{ url_for('home.update_masterpieces_screenshots_and_files', oid=masterpiece._id) }}">更新截图和文件</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-danger" href="{{ url_for('home.delete_masterpiece', oid=masterpiece._id) }}" onclick="return confirm('删除将不可恢复。确定删除吗？');">删除</a>
                    </div>
                </div>
            </div>
            {#
            <div class="row">
                    <hr />
                    <div class="col-md-2">
                        <a class="btn btn-default">评分</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-default">修改兼容性</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-default">增加简介</a>
                    </div>
                </div>
            </div>
            #}
{% endblock %}

