{% extends '_base.html' %}
{% block title %}旧机回收{% endblock %}
{% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h3>旧机回收</h3>
                    </div>
                    <div>
                        <p>
                            如果您想转让爱机，请将【型号】【成色】【图片附件】等信息发送至 whypro#live.cn。
                        </p>
                    </div>
                </div>

            </div>
{% endblock %}
